@model AspCrudApp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pquantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pquantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
           <img src="~/images/@Html.DisplayFor(model => model.Image)"style="width:200px; height:200px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Pid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
